name: brain_forge_movies
description: "A Flutter project for the BrainForge recruitment task."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  go_router: ^6.2.0
  uuid: ^3.0.7
  either_dart: ^0.3.0
  equatable: ^2.0.5
  flutter_bloc: ^8.1.2
  shimmer_animation: ^2.1.0+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
